In [268]:
import pandas as pd 
import requests
from bs4 import BeautifulSoup
import re

# Getting real estate listings

## Zumber

In [171]:
def Zumber(content): 
    soup = BeautifulSoup(content, "html.parser")
    PostalCode =  [x.text.replace(',', '').strip() for x in soup.find_all("span", class_="css-wmtwp4")]
    rent = [x.text for x in soup.find_all("div", class_="css-uzc059")]
    bed_bath = [x.text for x in soup.find_all("div", class_="css-1iq6kk8")]

    bed,bath = [x.split('•')[0] for x in bed_bath],  [x.split('•')[1] for x in bed_bath]


    dict = {'PostalCode':PostalCode,'Monthly': rent,  'Number of beds': bed, 'Number of baths': bath}
    df= pd.DataFrame(dict)
    df.loc[df['Monthly'].str.contains('%'), 'Monthly'] = df['Monthly'].str[:6]
    
    df['Monthly'] = df['Monthly'].apply(lambda x:x.replace('$','').replace(',','').replace("+",'').strip())
    df['Monthly']= df['Monthly'].replace({'K':'*1e3'}, regex=True).map(pd.eval)
    return df

### Studios

In [141]:
URL = "https://www.zumper.com/apartments-for-rent/vancouver-bc/west-end/studios"
requestURL = requests.get(URL)
content = requestURL.content

In [172]:
Zumber(content)

   PostalCode  Monthly Number of beds Number of baths
0     V6G 1P5     1900        Studio           1 Bath
1     V6E 1Z9     1625        Studio           1 Bath
2     V6E 1Z5     2000        Studio           1 Bath
3     V6E 1L7     2369        Studio           1 Bath
4     V6E 2B8     2268        Studio           1 Bath
5     V6G 1X7     2570        Studio           1 Bath
6     V6G 1L3     2650        Studio           1 Bath
7     V6G 1G6     2480        Studio           1 Bath
8     V6G 1W1     2495        Studio           1 Bath
9     V6E 1R9     3500        Studio           1 Bath
10    V6E 1H1     2700        Studio           1 Bath
11    V6G 1G2     2500        Studio           1 Bath
12    V6G 0C4     2095        Studio           1 Bath
13    V6G 2A1     2200        Studio           1 Bath
14    V6E 1C8     2650        Studio           1 Bath

### 1 bed

In [142]:
URL2 = "https://www.zumper.com/apartments-for-rent/vancouver-bc/west-end/1-beds"
requestURL2 = requests.get(URL2)
content2 = requestURL2.content

In [173]:
Zumber(content2)

   PostalCode  Monthly Number of beds Number of baths
0     V6G 2C4     3875         1 Bed           1 Bath
1     V6G 1P5     2450         1 Bed           1 Bath
2     V6G 0C6     3450         1 Bed           1 Bath
3     V6E 1N5     2600         1 Bed           1 Bath
4     V6E 1R7     2300         1 Bed           1 Bath
5     V6G 1G2     2375         1 Bed           1 Bath
6     V6G 1W2     2680         1 Bed           1 Bath
7     V6G 1E6     2400         1 Bed           1 Bath
8     V6G 2P5     2200         1 Bed      1 - 2 Baths
9     V6E 1L4     2750         1 Bed           1 Bath
10    V6E 2B8     2614         1 Bed           1 Bath
11    V6E 1R7     3000         1 Bed           1 Bath
12    V6G 1H2     2629         1 Bed           1 Bath
13    V6E 4V2     3700         1 Bed           1 Bath
14    V6E 1H7     2706         1 Bed           1 Bath
15    V6G 1G4     2743         1 Bed           1 Bath
16    V6G 1G6     3000         1 Bed           1 Bath
17    V6G 0B6     2695         1 Bed           1 Bath
18    V6E 3T1     2532         1 Bed           1 Bath
19    V6E 1E7     1775         1 Bed           1 Bath
20    V6G 1X7     1900         1 Bed           1 Bath
21    V6G 2B2     2355         1 Bed           1 Bath
22    V6G 2E9     2750         1 Bed           1 Bath
23    V6G 1L3     2825         1 Bed           1 Bath
24    V6E 1L7     2600         1 Bed           1 Bath
25    V6G 2H8     2200         1 Bed           1 Bath
26    V6G 1W1     2850         1 Bed           1 Bath
27    V6G 1S5     2361         1 Bed           1 Bath
28    V6G 2J2     2889         1 Bed           1 Bath
29    V6G 1Y2     2550         1 Bed           1 Bath
30    V6G 1Y6     2325         1 Bed           1 Bath
31    V6E 0B5     2550         1 Bed           1 Bath
32    V6G 1G2     3300         1 Bed           1 Bath
33    V6G 2Z1     2495         1 Bed           1 Bath
34    V6E 0A8     4200         1 Bed           1 Bath
35    V6Z 3H8     3200         1 Bed           1 Bath
36    V6G 2H9     2700         1 Bed           1 Bath
37    V6G 3G7     2950         1 Bed           1 Bath
38    V6E 0C2     2800         1 Bed           1 Bath
39    V6G 1G2     2650         1 Bed           1 Bath
40    V6G 1B5     2600         1 Bed           1 Bath
41    V6E 1C8     2900         1 Bed           1 Bath

## 2 Beds

In [174]:
URL3 = "https://www.zumper.com/apartments-for-rent/vancouver-bc/west-end/2-beds"
requestURL3 = requests.get(URL3)
content3 = requestURL3.content

In [175]:
Zumber(content3)

   PostalCode  Monthly Number of beds Number of baths
0     V6G 2C4   4500.0        2 Beds          2 Baths
1     V6G 0C6   4100.0        2 Beds      1 - 2 Baths
2     V6G 1W2   4300.0        2 Beds      1 - 2 Baths
3     V6G 2J2   3799.0        2 Beds           1 Bath
4     V6E 1L4   3500.0        2 Beds      1 - 2 Baths
5     V6G 1Y2   3400.0        2 Beds           1 Bath
6     V6G 1G2   3300.0        2 Beds      1 - 2 Baths
7     V6E 1N5   7800.0        2 Beds          2 Baths
8     V6G 1X9   2650.0        2 Beds           1 Bath
9     V6G 1Z3   4900.0        2 Beds          2 Baths
10    V6G 1W1   3895.0        2 Beds          2 Baths
11    V6G 0C5   4850.0        2 Beds          2 Baths
12    V6G 1G4   3428.0        2 Beds           1 Bath
13    V6E 1K5   3050.0        2 Beds           1 Bath
14    V6G 1L6   3599.0        2 Beds           1 Bath
15    V6E 3T1   3262.0        2 Beds           1 Bath
16    V6G 1Y6   3495.0        2 Beds           1 Bath
17    V6G 0C4   3450.0        2 Beds          2 Baths
18    V6G 0A3   7500.0        2 Beds          2 Baths
19    V6E 4S7   3650.0        2 Beds           1 Bath
20    V6E 4V2  11000.0        2 Beds          3 Baths
21    V6G 2Y2   3900.0        2 Beds          2 Baths
22    V6G 3A3   3250.0        2 Beds          2 Baths
23    V6E 0B1   5200.0        2 Beds          2 Baths
24    V6E 4L5   3980.0        2 Beds          2 Baths
25    V6E 1C1   3150.0        2 Beds           1 Bath
26    V6G 2B1   4000.0        2 Beds          2 Baths
27    V6E 4V2   5800.0        2 Beds          2 Baths
28    V6Z 3H8   6500.0        2 Beds          2 Baths
29    V6E 0C2   3400.0        2 Beds           1 Bath
30    V6G 1G2   3500.0        2 Beds           1 Bath
31    V6E 1L5   3600.0        2 Beds           1 Bath

### 3 beds

In [176]:
URL4 = "https://www.zumper.com/apartments-for-rent/vancouver-bc/west-end/3-beds"
requestURL4 = requests.get(URL4)
content4 = requestURL4.content

In [177]:
Zumber(content4)

   PostalCode  Monthly Number of beds Number of baths
0     V6G 2C4   6550.0        3 Beds          2 Baths
1     V6G 0C6   4500.0        3 Beds          2 Baths
2     V6G 1G2   4500.0        3 Beds          2 Baths
3     V6E 0B1  12900.0        3 Beds          3 Baths
4     V6G 1W1   5195.0        3 Beds          2 Baths
5     V6G 0C5   6200.0        3 Beds          2 Baths
6     V6E 1L4   5000.0        3 Beds          2 Baths
7     V6G 0C4   4500.0        3 Beds          2 Baths
8     V6G 1G2   4900.0        3 Beds           1 Bath
9     V6G 1G2   4300.0        3 Beds          2 Baths
10    V6B 0S3   5500.0        3 Beds          3 Baths
11    V6Z 1W4   6980.0        3 Beds          2 Baths
12    V6E 4R8   6700.0        3 Beds          4 Baths
13    V6E 4E6   9900.0        3 Beds          3 Baths
14    V6G 3H3  12000.0        3 Beds          2 Baths
15    V6E 4R8   7500.0        3 Beds          3 Baths
16    V6E 0A7   5300.0        3 Beds          2 Baths
17    V6G 3H7   7500.0        3 Beds          3 Baths
18    V6E 4T8   6500.0        3 Beds          3 Baths
19    V6G 3H7   8500.0        3 Beds          2 Baths
20    V6B 3E1   6700.0        3 Beds          3 Baths
21    V6G 3J6   5500.0        3 Beds          2 Baths
22    V6C 3N9   6800.0        3 Beds          2 Baths
23    V6Z 2Z3   4950.0        3 Beds          2 Baths

## Kijiji

In [288]:
def kijiji(content): 
    soup = BeautifulSoup(content, "lxml")
    realEstate = soup.findAll("div", class_="container-results large-images")[1]
    realEstate2 = [x.find('div', class_="info") for x in realEstate.findAll("div", attrs={"data-listing-id":True})]

    realEstateLinks = [x.find('div', class_=["title"]) for x in realEstate2]
    realEstateLinks1 = [x.find('a', attrs={"href":True}) for x in realEstate2]
    realEstateLinks = ["https://www.kijiji.ca"+ x['href'] for x in realEstateLinks1]

    dfKijiji = pd.DataFrame(columns=['Postal Code','Monthly', 'Number of baths'])

    for i in range(len(realEstateLinks)):
        requestsIterate = requests.get(realEstateLinks[i])
        soup3 = BeautifulSoup(requestsIterate.text, "html.parser")


        for x in soup3.find_all('div', class_=['realEstateTitle-1440881021']):
            monthlyNum = x.find('span')['content']
            bathroomNum = x.findAll('span', class_="noLabelValue-3861810455")[-1].text
            if bool(re.match('V[0-9][A-Z] [0-9][A-Z][0-9]', x.find('span', class_="address-3617944557").text[-7:])):
                PostalCode = x.find('span', class_="address-3617944557").text[-7:]
            else:
                PostalCode = ""
            dfKijiji = dfKijiji.append({'Postal Code':PostalCode, 'Monthly': monthlyNum, 'Number of baths': bathroomNum}, ignore_index=True)
    return dfKijiji

### Studios

In [264]:
URL2 = "https://www.kijiji.ca/b-apartments-condos/vancouver-downtown-west-end/bachelor+studio/c37l1700292a27949001"
requestURL2 = requests.get(URL2)
content2 = requestURL2.content

In [289]:
kijiji(content2)

   Postal Code Monthly Number of baths
0      V3J 1M8   2268.    Bathrooms: 1
1      V6E 1C8   2650.    Bathrooms: 1
2                1640.    Bathrooms: 1
3      V6E 1L7   2369.    Bathrooms: 1
4      V6E 4R7   2195.    Bathrooms: 1
5      V6E 4S7   2375.    Bathrooms: 1
6      V5T 0H1   2325.    Bathrooms: 1
7      V6Z 1W4   2900.    Bathrooms: 1
8      V6G 1X7   2570.    Bathrooms: 1
9      V6K 1V8   2510.    Bathrooms: 1
10     V6G 1L3   2650.    Bathrooms: 1
11     V6H 1R2   2450.    Bathrooms: 1
12     V6G 1G6   2450.    Bathrooms: 1
13     V6G 1G6   2480.    Bathrooms: 1
14               2980.    Bathrooms: 1
15     V6G 2A1   2200.    Bathrooms: 1

### 1 bedroom

In [ ]:
URL2 = "https://www.kijiji.ca/b-apartments-condos/vancouver-downtown-west-end/1+bedroom/c37l1700292a27949001"
requestURL2 = requests.get(URL2)
contentOneBedRoom = requestURL2.content

In [ ]:
kijiji(contentOneBedRoom)

### 2 bed

In [ ]:
URL2 = "https://www.kijiji.ca/b-apartments-condos/vancouver-downtown-west-end/2+bedrooms-apartment/c37l1700292a27949001a29276001"
requestURL2 = requests.get(URL2)
contentTwoBedRoom = requestURL2.content

In [ ]:
kijiji(contentTwoBedRoom)

### 3 bed

In [ ]:
URL2 = "https://www.kijiji.ca/b-apartments-condos/vancouver-downtown-west-end/3+bedroom/c37l1700292a27949001"
requestURL2 = requests.get(URL2)
contentThreeBedRoom = requestURL2.content

In [ ]:
kijiji(contentThreeBedRoom)

## Pad Mapper

In [ ]:
def padMapper(content): 
    soupPad = BeautifulSoup(content, "html.parser").find('body')

    realEstate = soupPad.findAll("div", class_="ListItemMobile_text__3KFu_")
    realEstate2 = [x.text.strip() for x in realEstate]
    return realEstate2

### Studio

In [ ]:
URL3 = "https://www.padmapper.com/apartments/vancouver-bc/west-end/studios"
requestURL3 = requests.get(URL3)
content3 = requestURL3.content

In [ ]:
padMapper(content3)

### 1 bathrooms

In [ ]:
URL4 = "https://www.padmapper.com/apartments/vancouver-bc/west-end/1-beds"
requestURL4 = requests.get(URL4)
content4 = requestURL4.content

padMapper(content4)

### 2 bathrooms

In [ ]:
URL4 = "https://www.padmapper.com/apartments/vancouver-bc/west-end/2-beds"
requestURL4 = requests.get(URL4)
content4 = requestURL4.content

padMapper(content4)

In [ ]:
URL4 = "https://www.padmapper.com/apartments/vancouver-bc/west-end/3-beds"
requestURL4 = requests.get(URL4)
content4 = requestURL4.content

padMapper(content4)

## Rent cafe

In [364]:
import json

In [491]:
def rentCafe(content): 
    soup3 = BeautifulSoup(content, "html.parser")
    realEstate = soup3.findAll(["li", "div"], class_=["listing-beds-rent data-rent-ask","data-rent"])
    rentInfo = [x.strip() for x in soup3.findAll("script", type="text/javascript")[4]]
    rent = [x.text.strip() for x in realEstate]
    
    jsonData = json.loads(rentInfo[0][47:-3])
    baths, beds, PostalCode = [], [], []
    for i in range(len(jsonData)): 
        baths.append(jsonData[i]['Baths']), beds.append(jsonData[i]['Beds']), PostalCode.append(jsonData[i]['AddressFormatted'][-7:])
    dict = {'PostalCode':PostalCode,'Monthly': rent,  'Number of beds': beds, 'Number of baths': baths}
    df= pd.DataFrame(dict)
    df['Monthly'] = df['Monthly'].apply(lambda x:x.replace('$','').replace(',','').replace("+",'').strip())
    return df

In [490]:
URLCafe1 = "https://www.rentcafe.com/studio-apartments-for-rent/ca/bc/vancouver/west-end-vancouver/"
requestURLCafe1 = requests.get(URLCafe1)
contentCafe1 = requestURLCafe1.content

rentCafe(contentCafe1)

  PostalCode          Monthly Number of beds Number of baths
0    V6E 4S7  Ask for pricing         Studio          1 Bath
1    V6G 2L2  Ask for pricing         Studio         2 Baths
2    V6G 3A3  Ask for pricing         Studio          1 Bath
3    V5N 1V9             2025         Studio          1 Bath
4    V7L 3J4             2240         Studio          1 Bath

In [492]:
URLCafe1 = "https://www.rentcafe.com/1-bedroom-apartments-for-rent/ca/bc/vancouver/west-end-vancouver/"
requestURLCafe1 = requests.get(URLCafe1)
contentCafe1 = requestURLCafe1.content

rentCafe(contentCafe1)

   PostalCode          Monthly Number of beds Number of baths
0     V6E 4S7  Ask for pricing          1 Bed          1 Bath
1     V6G 1X3             2350          1 Bed          1 Bath
2     V6G 1X4             2175          1 Bed          1 Bath
3     V6G 2L2             2950          1 Bed       1.5 Baths
4     V6G 3A3  Ask for pricing          1 Bed     1-1.5 Baths
5     V6Z 0E7             2800          1 Bed          1 Bath
6     V6G 2X3  Ask for pricing          1 Bed          1 Bath
7     V6B 0P4             2700          1 Bed          1 Bath
8     V5L 2N1             2500          1 Bed          1 Bath
9     V5N 1V9             2275          1 Bed          1 Bath
10    V7L 3J4             2270          1 Bed          1 Bath
11    V6X 0T8             2100          1 Bed          1 Bath

In [493]:
URLCafe1 = "https://www.rentcafe.com/2-bedroom-apartments-for-rent/ca/bc/vancouver/west-end-vancouver/"
requestURLCafe1 = requests.get(URLCafe1)
contentCafe1 = requestURLCafe1.content

rentCafe(contentCafe1)

   PostalCode          Monthly Number of beds Number of baths
0     V6E 4S7             3650         2 Beds       1-2 Baths
1     V6G 2L2  Ask for pricing         2 Beds       1.5 Baths
2     V6G 3A3             3050         2 Beds     1.5-2 Baths
3     V6G 2X3  Ask for pricing         2 Beds     1-1.5 Baths
4      V6Z1W4             4500         2 Beds         2 Baths
5     V6B 0E8             3800         2 Beds         2 Baths
6     V6A 0G3             2650         2 Beds          1 Bath
7     V5N 1V9             3250         2 Beds       1-2 Baths
8     V5V 3E2             2800         2 Beds          1 Bath
9     V7L 3J4             2950         2 Beds       1-2 Baths
10    V5S 2Y4             2100         2 Beds         2 Baths
11    V3L 0J9  Ask for pricing         2 Beds         2 Baths

In [494]:
URLCafe1 = "https://www.rentcafe.com/3-bedroom-apartments-for-rent/ca/bc/vancouver/west-end-vancouver/"
requestURLCafe1 = requests.get(URLCafe1)
contentCafe1 = requestURLCafe1.content

rentCafe(contentCafe1)

  PostalCode Monthly Number of beds Number of baths
0    V6G 0C7    6500         3 Beds         2 Baths
1    V6K 1K6    4200         3 Beds         2 Baths
2    V6R 2W5   12000         3 Beds       2.5 Baths
3    V5V 0B3    2850         3 Beds         2 Baths
4    V5N 1V9    4050         3 Beds         2 Baths
5    V7L 3J4    3700         3 Beds         2 Baths