In [47]:
import pandas as pd 
import requests
from bs4 import BeautifulSoup

# Getting real estate listings

## Zumber

In [121]:
def Zumber(content): 
    soup = BeautifulSoup(content, "html.parser")
    rent = [x.text for x in soup.find_all("div", class_="css-uzc059")]
    bath = [x.text for x in soup.find_all("div", class_="css-1iq6kk8")]


    dict = {'Monthly': rent, 'Number of baths': bath}
    df= pd.DataFrame(dict)
    df.loc[df['Monthly'].str.contains('%'), 'Monthly'] = df['Monthly'].str[:6]
    
    df['Monthly'] = df['Monthly'].apply(lambda x:x.replace('$','').replace(',','').replace("+",'').strip())
    df['Monthly']= df['Monthly'].replace({'K':'*1e3'}, regex=True).map(pd.eval)
    return df

### Studios

In [122]:
URL = "https://www.zumper.com/apartments-for-rent/vancouver-bc/west-end/studios"
requestURL = requests.get(URL)
content = requestURL.content

### 1 bed

In [123]:
URL2 = "https://www.zumper.com/apartments-for-rent/vancouver-bc/west-end/1-beds"
requestURL2 = requests.get(URL2)
content2 = requestURL2.content

In [124]:
Zumber(content2)

0                        $3,875
1                       $2,450+
2                        $3,450
3                        $2,600
4                       $2,300+
5                       $2,375+
6                       $2,680+
7                        $2,400
8                       $2,200+
9                       $2,750+
10                       $2,614
11                       $3,000
12                       $2,629
13                       $3,700
14                       $2,706
15                       $2,743
16                       $3,000
17                       $2,695
18                       $2,532
19                       $1,775
20    $1,90025% below avg price
21                      $2,355+
22                       $2,750
23                       $2,825
24                       $2,600
25                       $2,200
26                       $2,850
27                       $2,361
28                       $2,889
29                       $2,550
30                      $2,325+
31                       $2,550
32                       $3,300
33     $2,4952% below avg price
34                       $4,200
35                       $3,200
36                       $2,700
37                       $2,950
38                       $2,800
39                       $2,650
40                       $2,600
41                       $2,900
Name: Monthly, dtype: object

    Monthly      Number of baths
0      3875       1 Bed • 1 Bath
1      2450       1 Bed • 1 Bath
2      3450       1 Bed • 1 Bath
3      2600       1 Bed • 1 Bath
4      2300       1 Bed • 1 Bath
5      2375       1 Bed • 1 Bath
6      2680       1 Bed • 1 Bath
7      2400       1 Bed • 1 Bath
8      2200  1 Bed • 1 - 2 Baths
9      2750       1 Bed • 1 Bath
10     2614       1 Bed • 1 Bath
11     3000       1 Bed • 1 Bath
12     2629       1 Bed • 1 Bath
13     3700       1 Bed • 1 Bath
14     2706       1 Bed • 1 Bath
15     2743       1 Bed • 1 Bath
16     3000       1 Bed • 1 Bath
17     2695       1 Bed • 1 Bath
18     2532       1 Bed • 1 Bath
19     1775       1 Bed • 1 Bath
20     1900       1 Bed • 1 Bath
21     2355       1 Bed • 1 Bath
22     2750       1 Bed • 1 Bath
23     2825       1 Bed • 1 Bath
24     2600       1 Bed • 1 Bath
25     2200       1 Bed • 1 Bath
26     2850       1 Bed • 1 Bath
27     2361       1 Bed • 1 Bath
28     2889       1 Bed • 1 Bath
29     2550       1 Bed • 1 Bath
30     2325       1 Bed • 1 Bath
31     2550       1 Bed • 1 Bath
32     3300       1 Bed • 1 Bath
33     2495       1 Bed • 1 Bath
34     4200       1 Bed • 1 Bath
35     3200       1 Bed • 1 Bath
36     2700       1 Bed • 1 Bath
37     2950       1 Bed • 1 Bath
38     2800       1 Bed • 1 Bath
39     2650       1 Bed • 1 Bath
40     2600       1 Bed • 1 Bath
41     2900       1 Bed • 1 Bath

## 2 Beds

In [125]:
URL3 = "https://www.zumper.com/apartments-for-rent/vancouver-bc/west-end/2-beds"
requestURL3 = requests.get(URL3)
content3 = requestURL3.content

In [126]:
Zumber(content3)

0                       $4,500+
1                       $4,100+
2                       $4,300+
3                        $3,799
4                       $3,500+
5                        $3,400
6                       $3,300+
7                        $7,800
8     $2,65027% below avg price
9                        $4,900
10                       $3,895
11                       $4,850
12                       $3,428
13                       $3,050
14                       $3,599
15                       $3,262
16                       $3,495
17                       $3,450
18                       $7,500
19                      $3,650+
20                         $11K
21                       $3,900
22    $3,25011% below avg price
23                       $5,200
24                       $3,980
25    $3,15014% below avg price
26                       $4,000
27                       $5,800
28                       $6,500
29     $3,4007% below avg price
30     $3,5004% below avg price
31                       $3,600
Name: Monthly, dtype: object

    Monthly       Number of baths
0    4500.0      2 Beds • 2 Baths
1    4100.0  2 Beds • 1 - 2 Baths
2    4300.0  2 Beds • 1 - 2 Baths
3    3799.0       2 Beds • 1 Bath
4    3500.0  2 Beds • 1 - 2 Baths
5    3400.0       2 Beds • 1 Bath
6    3300.0  2 Beds • 1 - 2 Baths
7    7800.0      2 Beds • 2 Baths
8    2650.0       2 Beds • 1 Bath
9    4900.0      2 Beds • 2 Baths
10   3895.0      2 Beds • 2 Baths
11   4850.0      2 Beds • 2 Baths
12   3428.0       2 Beds • 1 Bath
13   3050.0       2 Beds • 1 Bath
14   3599.0       2 Beds • 1 Bath
15   3262.0       2 Beds • 1 Bath
16   3495.0       2 Beds • 1 Bath
17   3450.0      2 Beds • 2 Baths
18   7500.0      2 Beds • 2 Baths
19   3650.0       2 Beds • 1 Bath
20  11000.0      2 Beds • 3 Baths
21   3900.0      2 Beds • 2 Baths
22   3250.0      2 Beds • 2 Baths
23   5200.0      2 Beds • 2 Baths
24   3980.0      2 Beds • 2 Baths
25   3150.0       2 Beds • 1 Bath
26   4000.0      2 Beds • 2 Baths
27   5800.0      2 Beds • 2 Baths
28   6500.0      2 Beds • 2 Baths
29   3400.0       2 Beds • 1 Bath
30   3500.0       2 Beds • 1 Bath
31   3600.0       2 Beds • 1 Bath

### 3 beds

In [ ]:
URL4 = "https://www.zumper.com/apartments-for-rent/vancouver-bc/west-end/3-beds"
requestURL4 = requests.get(URL4)
content4 = requestURL4.content

In [ ]:
Zumber(content4)

## Kijiji

In [ ]:
def kijiji(content): 
    soup = BeautifulSoup(content, "lxml")
    realEstate = soup.findAll("div", class_="container-results large-images")[1]
    realEstate2 = [x.find('div', class_="info") for x in realEstate.findAll("div", attrs={"data-listing-id":True})]

    realEstateLinks = [x.find('div', class_=["title"]) for x in realEstate2]
    realEstateLinks1 = [x.find('a', attrs={"href":True}) for x in realEstate2]
    realEstateLinks = ["https://www.kijiji.ca"+ x['href'] for x in realEstateLinks1]

    dfKijiji = pd.DataFrame(columns=['Monthly', 'Number of baths'])

    for i in range(len(realEstateLinks)):
        requestsIterate = requests.get(realEstateLinks[i])
        soup3 = BeautifulSoup(requestsIterate.text, "html.parser")


        for x in soup3.find_all('div', class_=['realEstateTitle-1440881021']):
            monthlyNum = x.find('span')['content']
            bathroomNum = x.findAll('span', class_="noLabelValue-3861810455")[-1].text

            dfKijiji = dfKijiji.append({'Monthly': monthlyNum, 'Number of baths': bathroomNum}, ignore_index=True)
    return dfKijiji

### Studios

In [ ]:
URL2 = "https://www.kijiji.ca/b-apartments-condos/vancouver-downtown-west-end/bachelor+studio/c37l1700292a27949001"
requestURL2 = requests.get(URL2)
content2 = requestURL2.content

In [ ]:
kijiji(content2)

### 1 bedroom

In [ ]:
URL2 = "https://www.kijiji.ca/b-apartments-condos/vancouver-downtown-west-end/1+bedroom/c37l1700292a27949001"
requestURL2 = requests.get(URL2)
contentOneBedRoom = requestURL2.content

In [ ]:
kijiji(contentOneBedRoom)

### 2 bed

In [ ]:
URL2 = "https://www.kijiji.ca/b-apartments-condos/vancouver-downtown-west-end/2+bedrooms-apartment/c37l1700292a27949001a29276001"
requestURL2 = requests.get(URL2)
contentTwoBedRoom = requestURL2.content

In [ ]:
kijiji(contentTwoBedRoom)

### 3 bed

In [ ]:
URL2 = "https://www.kijiji.ca/b-apartments-condos/vancouver-downtown-west-end/3+bedroom/c37l1700292a27949001"
requestURL2 = requests.get(URL2)
contentThreeBedRoom = requestURL2.content

In [ ]:
kijiji(contentThreeBedRoom)

## Pad Mapper

In [ ]:
def padMapper(content): 
    soupPad = BeautifulSoup(content, "html.parser").find('body')

    realEstate = soupPad.findAll("div", class_="ListItemMobile_text__3KFu_")
    realEstate2 = [x.text.strip() for x in realEstate]
    return realEstate2

### Studio

In [ ]:
URL3 = "https://www.padmapper.com/apartments/vancouver-bc/west-end/studios"
requestURL3 = requests.get(URL3)
content3 = requestURL3.content

In [ ]:
padMapper(content3)

### 1 bathrooms

In [ ]:
URL4 = "https://www.padmapper.com/apartments/vancouver-bc/west-end/1-beds"
requestURL4 = requests.get(URL4)
content4 = requestURL4.content

padMapper(content4)

### 2 bathrooms

In [ ]:
URL4 = "https://www.padmapper.com/apartments/vancouver-bc/west-end/2-beds"
requestURL4 = requests.get(URL4)
content4 = requestURL4.content

padMapper(content4)

In [ ]:
URL4 = "https://www.padmapper.com/apartments/vancouver-bc/west-end/3-beds"
requestURL4 = requests.get(URL4)
content4 = requestURL4.content

padMapper(content4)

## Rent cafe

In [ ]:
def rentCafe(content): 
    soupCafe = BeautifulSoup(content)
    realEstate = soupCafe.findAll("li", class_="data-rent")
    realEstate2 = [x.text.strip() for x in realEstate]
    return realEstate2

In [ ]:
URLCafe1 = "https://www.rentcafe.com/studio-apartments-for-rent/ca/bc/vancouver/west-end-vancouver/"
requestURLCafe1 = requests.get(URLCafe1)
contentCafe1 = requestURLCafe1.content

rentCafe(contentCafe1)

In [ ]:
URLCafe1 = "https://www.rentcafe.com/1-bedroom-apartments-for-rent/ca/bc/vancouver/west-end-vancouver/"
requestURLCafe1 = requests.get(URLCafe1)
contentCafe1 = requestURLCafe1.content

rentCafe(contentCafe1)

In [ ]:
URLCafe1 = "https://www.rentcafe.com/2-bedroom-apartments-for-rent/ca/bc/vancouver/west-end-vancouver/"
requestURLCafe1 = requests.get(URLCafe1)
contentCafe1 = requestURLCafe1.content

rentCafe(contentCafe1)

In [ ]:
URLCafe1 = "https://www.rentcafe.com/3-bedroom-apartments-for-rent/ca/bc/vancouver/west-end-vancouver/"
requestURLCafe1 = requests.get(URLCafe1)
contentCafe1 = requestURLCafe1.content

rentCafe(contentCafe1)