In [13]:
import pandas as pd 
import requests
from bs4 import BeautifulSoup

In [14]:
URL = "https://www.zumper.com/apartments-for-rent/vancouver-bc/west-end/studios"
requestURL = requests.get(URL)

In [15]:
content = requestURL.content

In [16]:
soup = BeautifulSoup(content, "html.parser")

In [17]:
rent = [x.text for x in soup.find_all("div", class_="css-uzc059")]
bath = [x.text for x in soup.find_all("div", class_="css-1iq6kk8")]

In [18]:
dict = {'Monthly': rent, 'Number of baths': bath}
df= pd.DataFrame(dict)

In [19]:
df['Monthly'] = df['Monthly'].str.replace('\D+', '')

C:\Users\Jimmy\AppData\Local\Temp/ipykernel_9092/424978522.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['Monthly'] = df['Monthly'].str.replace('\D+', '')

In [20]:
df

   Monthly  Number of baths
0     1900  Studio • 1 Bath
1     2369  Studio • 1 Bath
2     2268  Studio • 1 Bath
3     2570  Studio • 1 Bath
4     2650  Studio • 1 Bath
5     2450  Studio • 1 Bath
6     2495  Studio • 1 Bath
7     3500  Studio • 1 Bath
8     2700  Studio • 1 Bath
9     2375  Studio • 1 Bath
10    2500  Studio • 1 Bath
11    2095  Studio • 1 Bath
12    2200  Studio • 1 Bath
13    1625  Studio • 1 Bath
14    2000  Studio • 1 Bath
15    2650  Studio • 1 Bath

In [21]:
URL2 = "https://www.kijiji.ca/b-apartments-condos/vancouver-downtown-west-end/studios/k0c37l1700292?rb=true"
requestURL2 = requests.get(URL2)
content2 = requestURL2.content

soup2 = BeautifulSoup(content2, "html.parser")

# Getting real estate listings

In [22]:
realEstate = soup2.findAll("div", class_="container-results large-images")[1]
realEstate2 = [x.find('div', class_="info") for x in realEstate.findAll("div", attrs={"data-listing-id":True})]

In [23]:


realEstateLinks = [x.find('div', class_=["title"]) for x in realEstate2]
realEstateLinks1 = [x.find('a', attrs={"href":True}) for x in realEstate2]
realEstateLinks = ["https://www.kijiji.ca"+ x['href'] for x in realEstateLinks1]



#realEstatePrices = [x.find('div', class_=["price"]) for x in realEstate4]
#realEstatePrices = [x.text.strip() for x in realEstatePrices]

In [28]:
dfKijiji = pd.DataFrame(columns=['Monthly', 'Number of baths'])

for i in range(len(realEstateLinks)):
    requestsIterate = requests.get(realEstateLinks[i])
    soup3 = BeautifulSoup(requestsIterate.text, "html.parser")


    for x in soup3.find_all('div', class_=['realEstateTitle-1440881021']):
        monthlyNum = x.find('span')['content']
        bathroomNum = x.findAll('span', class_="noLabelValue-3861810455")[-1].text

        dfKijiji = dfKijiji.append({'Monthly': monthlyNum, 'Number of baths': bathroomNum}, ignore_index=True)

In [29]:
dfKijiji

   Monthly Number of baths
0    2369.    Bathrooms: 1
1    2650.    Bathrooms: 1
2    1640.    Bathrooms: 1
3    2369.    Bathrooms: 1
4    2195.    Bathrooms: 1
5    2375.    Bathrooms: 1
6    3485.    Bathrooms: 2
7    2495.    Bathrooms: 1
8    2325.    Bathrooms: 1
9    2900.    Bathrooms: 1
10   2268.    Bathrooms: 1
11   2570.    Bathrooms: 1
12   2510.    Bathrooms: 1
13   2650.    Bathrooms: 1
14   2450.    Bathrooms: 1
15   2450.    Bathrooms: 1
16   2480.    Bathrooms: 1
17   2980.    Bathrooms: 1