In [33]:
import pandas as pd 
import requests
from bs4 import BeautifulSoup

# Getting real estate listings

## Zumber

## Studios

In [34]:
URL = "https://www.zumper.com/apartments-for-rent/vancouver-bc/west-end/studios"
requestURL = requests.get(URL)
content = requestURL.content
soup = BeautifulSoup(content, "html.parser")
rent = [x.text for x in soup.find_all("div", class_="css-uzc059")]
bath = [x.text for x in soup.find_all("div", class_="css-1iq6kk8")]


dict = {'Monthly': rent, 'Number of baths': bath}
df= pd.DataFrame(dict)
df['Monthly'] = df['Monthly'].str.replace('\D+', '')

In [40]:
df

   Monthly  Number of baths
0     1900  Studio • 1 Bath
1     2369  Studio • 1 Bath
2     2268  Studio • 1 Bath
3     2570  Studio • 1 Bath
4     2650  Studio • 1 Bath
5     2450  Studio • 1 Bath
6     2495  Studio • 1 Bath
7     3500  Studio • 1 Bath
8     2700  Studio • 1 Bath
9     2375  Studio • 1 Bath
10    2500  Studio • 1 Bath
11    2095  Studio • 1 Bath
12    2200  Studio • 1 Bath
13    1625  Studio • 1 Bath
14    2000  Studio • 1 Bath
15    2650  Studio • 1 Bath

## 1 bed

In [49]:
URL = "https://www.zumper.com/apartments-for-rent/vancouver-bc/west-end/1-beds"
requestURL = requests.get(URL)
content = requestURL.content
soup = BeautifulSoup(content, "html.parser")
rent = [x.text for x in soup.find_all("div", class_="css-uzc059")]
bath = [x.text for x in soup.find_all("div", class_="css-1iq6kk8")]


dict = {'Monthly': rent, 'Number of baths': bath}
dfOneBed= pd.DataFrame(dict)
dfOneBed['Monthly'] = dfOneBed['Monthly'].str.replace('\D+', '')

C:\Users\Jimmy\AppData\Local\Temp/ipykernel_9092/1776082707.py:11: FutureWarning: The default value of regex will change from True to False in a future version.
  dfOneBed['Monthly'] = dfOneBed['Monthly'].str.replace('\D+', '')

In [50]:
dfOneBed

   Monthly      Number of baths
0     3875       1 Bed • 1 Bath
1     2680       1 Bed • 1 Bath
2     3150       1 Bed • 1 Bath
3     2614       1 Bed • 1 Bath
4     3000       1 Bed • 1 Bath
5     2629       1 Bed • 1 Bath
6     3700       1 Bed • 1 Bath
7     2706       1 Bed • 1 Bath
8     2743       1 Bed • 1 Bath
9     1800  1 Bed • 1 - 2 Baths
10    3000       1 Bed • 1 Bath
11    2695       1 Bed • 1 Bath
12    2532       1 Bed • 1 Bath
13    2395       1 Bed • 1 Bath
14    1775       1 Bed • 1 Bath
15  190025       1 Bed • 1 Bath
16    2350       1 Bed • 1 Bath
17    2355       1 Bed • 1 Bath
18    2750       1 Bed • 1 Bath
19    2825       1 Bed • 1 Bath
20    2600       1 Bed • 1 Bath
21    2200       1 Bed • 1 Bath
22    2850       1 Bed • 1 Bath
23    2450       1 Bed • 1 Bath
24    2361       1 Bed • 1 Bath
25    2889       1 Bed • 1 Bath
26    2550       1 Bed • 1 Bath
27    2325       1 Bed • 1 Bath
28    2550       1 Bed • 1 Bath
29    2375       1 Bed • 1 Bath
30    2400       1 Bed • 1 Bath
31    2750       1 Bed • 1 Bath
32   24006       1 Bed • 1 Bath
33   25002       1 Bed • 1 Bath
34    2650       1 Bed • 1 Bath
35    3300       1 Bed • 1 Bath
36   24952       1 Bed • 1 Bath
37    4200       1 Bed • 1 Bath
38    3200       1 Bed • 1 Bath
39    2700       1 Bed • 1 Bath
40    2950       1 Bed • 1 Bath
41    2800       1 Bed • 1 Bath
42    2650       1 Bed • 1 Bath
43    2600       1 Bed • 1 Bath
44    2900       1 Bed • 1 Bath

## 2 Beds

In [51]:
URL = "https://www.zumper.com/apartments-for-rent/vancouver-bc/west-end/2-beds"
requestURL = requests.get(URL)
content = requestURL.content
soup = BeautifulSoup(content, "html.parser")
rent = [x.text for x in soup.find_all("div", class_="css-uzc059")]
bath = [x.text for x in soup.find_all("div", class_="css-1iq6kk8")]


dict = {'Monthly': rent, 'Number of baths': bath}
dfTwoBed= pd.DataFrame(dict)
dfTwoBed['Monthly'] = dfTwoBed['Monthly'].str.replace('\D+', '')

C:\Users\Jimmy\AppData\Local\Temp/ipykernel_9092/172796148.py:11: FutureWarning: The default value of regex will change from True to False in a future version.
  dfTwoBed['Monthly'] = dfTwoBed['Monthly'].str.replace('\D+', '')

In [52]:
dfTwoBed

   Monthly       Number of baths
0     4500      2 Beds • 2 Baths
1     4600  2 Beds • 1 - 2 Baths
2     4100  2 Beds • 1 - 2 Baths
3   265026       2 Beds • 1 Bath
4     4900      2 Beds • 2 Baths
5     3895      2 Beds • 2 Baths
6     4850      2 Beds • 2 Baths
7     3428       2 Beds • 1 Bath
8     3050       2 Beds • 1 Bath
9     3599       2 Beds • 1 Bath
10    3262       2 Beds • 1 Bath
11    3495       2 Beds • 1 Bath
12    3300  2 Beds • 1 - 2 Baths
13    3450      2 Beds • 2 Baths
14    7500      2 Beds • 2 Baths
15    3650       2 Beds • 1 Bath
16    3799       2 Beds • 1 Bath
17    3600  2 Beds • 1 - 2 Baths
18    3400       2 Beds • 1 Bath
19      11      2 Beds • 3 Baths
20    3900      2 Beds • 2 Baths
21  325010      2 Beds • 2 Baths
22   34006      2 Beds • 2 Baths
23    5200      2 Beds • 2 Baths
24    3980      2 Beds • 2 Baths
25  315012       2 Beds • 1 Bath
26    4000      2 Beds • 2 Baths
27    5800      2 Beds • 2 Baths
28    6500      2 Beds • 2 Baths
29   34006       2 Beds • 1 Bath
30   35003       2 Beds • 1 Bath
31    3600       2 Beds • 1 Bath

### 3 beds

In [54]:
URL = "https://www.zumper.com/apartments-for-rent/vancouver-bc/west-end/3-beds"
requestURL = requests.get(URL)
content = requestURL.content
soup = BeautifulSoup(content, "html.parser")
rent = [x.text for x in soup.find_all("div", class_="css-uzc059")]
bath = [x.text for x in soup.find_all("div", class_="css-1iq6kk8")]


dict = {'Monthly': rent, 'Number of baths': bath}
dfThreeBed= pd.DataFrame(dict)
dfThreeBed['Monthly'] = dfThreeBed['Monthly'].str.replace('\D+', '')

C:\Users\Jimmy\AppData\Local\Temp/ipykernel_9092/4126310706.py:11: FutureWarning: The default value of regex will change from True to False in a future version.
  dfThreeBed['Monthly'] = dfThreeBed['Monthly'].str.replace('\D+', '')

In [55]:
dfThreeBed

   Monthly   Number of baths
0     6550  3 Beds • 2 Baths
1     4500  3 Beds • 2 Baths
2      129  3 Beds • 3 Baths
3     5195  3 Beds • 2 Baths
4     6200  3 Beds • 2 Baths
5     5000  3 Beds • 2 Baths
6     4500  3 Beds • 2 Baths
7     4500  3 Beds • 2 Baths
8     4900   3 Beds • 1 Bath
9   430013  3 Beds • 2 Baths
10    5500  3 Beds • 3 Baths
11    6980  3 Beds • 2 Baths
12    6995  3 Beds • 4 Baths
13    9900  3 Beds • 3 Baths
14      12  3 Beds • 2 Baths
15    7500  3 Beds • 3 Baths
16    5300  3 Beds • 2 Baths
17    7500  3 Beds • 3 Baths
18    6500  3 Beds • 3 Baths
19      10  3 Beds • 2 Baths
20    8500  3 Beds • 2 Baths
21    6700  3 Beds • 3 Baths
22    6500  3 Beds • 2 Baths
23    5500  3 Beds • 2 Baths

## Kijiji

In [41]:
URL2 = "https://www.kijiji.ca/b-apartments-condos/vancouver-downtown-west-end/bachelor+studio/c37l1700292a27949001"
requestURL2 = requests.get(URL2)
content2 = requestURL2.content

soup2 = BeautifulSoup(content2, "html.parser")

### Studios

In [42]:
realEstate = soup2.findAll("div", class_="container-results large-images")[1]
realEstate2 = [x.find('div', class_="info") for x in realEstate.findAll("div", attrs={"data-listing-id":True})]

In [43]:
realEstateLinks = [x.find('div', class_=["title"]) for x in realEstate2]
realEstateLinks1 = [x.find('a', attrs={"href":True}) for x in realEstate2]
realEstateLinks = ["https://www.kijiji.ca"+ x['href'] for x in realEstateLinks1]

In [44]:
dfKijiji = pd.DataFrame(columns=['Monthly', 'Number of baths'])

for i in range(len(realEstateLinks)):
    requestsIterate = requests.get(realEstateLinks[i])
    soup3 = BeautifulSoup(requestsIterate.text, "html.parser")


    for x in soup3.find_all('div', class_=['realEstateTitle-1440881021']):
        monthlyNum = x.find('span')['content']
        bathroomNum = x.findAll('span', class_="noLabelValue-3861810455")[-1].text

        dfKijiji = dfKijiji.append({'Monthly': monthlyNum, 'Number of baths': bathroomNum}, ignore_index=True)

In [45]:
dfKijiji

   Monthly Number of baths
0    2369.    Bathrooms: 1
1    2650.    Bathrooms: 1
2    1640.    Bathrooms: 1
3    2369.    Bathrooms: 1
4    2195.    Bathrooms: 1
5    2375.    Bathrooms: 1
6    2325.    Bathrooms: 1
7    2900.    Bathrooms: 1
8    2268.    Bathrooms: 1
9    2570.    Bathrooms: 1
10   2510.    Bathrooms: 1
11   2650.    Bathrooms: 1
12   2450.    Bathrooms: 1
13   2450.    Bathrooms: 1
14   2480.    Bathrooms: 1
15   2980.    Bathrooms: 1
16   2200.    Bathrooms: 1
17   2500.    Bathrooms: 1

### 1 bedroom

In [47]:
URL2 = "https://www.kijiji.ca/b-apartments-condos/vancouver-downtown-west-end/1+bedroom/c37l1700292a27949001"
requestURL2 = requests.get(URL2)
content2 = requestURL2.content

soup2 = BeautifulSoup(content2, "html.parser")

realEstate = soup2.findAll("div", class_="container-results large-images")[1]
realEstate2 = [x.find('div', class_="info") for x in realEstate.findAll("div", attrs={"data-listing-id":True})]


dfKijijiOneBed = pd.DataFrame(columns=['Monthly', 'Number of baths'])

for i in range(len(realEstateLinks)):
    requestsIterate = requests.get(realEstateLinks[i])
    soup3 = BeautifulSoup(requestsIterate.text, "html.parser")


    for x in soup3.find_all('div', class_=['realEstateTitle-1440881021']):
        monthlyNum = x.find('span')['content']
        bathroomNum = x.findAll('span', class_="noLabelValue-3861810455")[-1].text

        dfKijijiOneBed = dfKijijiOneBed.append({'Monthly': monthlyNum, 'Number of baths': bathroomNum}, ignore_index=True)

In [48]:
dfKijijiOneBed

   Monthly Number of baths
0    2369.    Bathrooms: 1
1    2650.    Bathrooms: 1
2    1640.    Bathrooms: 1
3    2369.    Bathrooms: 1
4    2195.    Bathrooms: 1
5    2375.    Bathrooms: 1
6    2325.    Bathrooms: 1
7    2900.    Bathrooms: 1
8    2268.    Bathrooms: 1
9    2570.    Bathrooms: 1
10   2510.    Bathrooms: 1
11   2650.    Bathrooms: 1
12   2450.    Bathrooms: 1
13   2450.    Bathrooms: 1
14   2480.    Bathrooms: 1
15   2980.    Bathrooms: 1
16   2200.    Bathrooms: 1
17   2500.    Bathrooms: 1